<div #content id="content">
	<div class="container-fluid">
		<div class="text-center">
			<strong id="giudfin">Giudizio finale</strong>
			<p id="corso">Corso: {{model.nomeCorso}}</p>
			<p id="modulo">Modulo: {{model.nomeModulo}}</p>
			<p id="docente">Valutazione dell'allievo sul modulo e sul docente: {{model.docente}}</p>
			<div class="form-group">
				<textarea class="form-control" rows="6" id="valutazione"
					name="valutazione">{{model.valutazione}}</textarea>
			</div>
			<strong>Giudizio complessivo</strong> su corso e docente:
			<select id="complessivo" name="complessivo" disabled>
				<option value="1" id="comp1">1 = Insufficiente</option>
				<option value="2" id="comp2">2 = Sufficiente</option>
				<option value="3" id="comp3">3 = Discreto</option>
				<option value="4" id="comp4">4 = Buono</option>
				<option value="5" id="comp5">5 = Molto Buono</option>
				<option value="6" id="comp6">6 = Ottimo</option>
				<option value="7" id="comp7">7 = Eccellente</option>
			</select>
			<table class="table-bordered" id="giudanalitico">
				<th>Giudizio analitico: </th>
				<th id="valheader" colspan="7">Valutazione (scegliere la casella):</th>
				<tr>
					<td>Durata del corso</td>
					<td><input type="radio" name="analitico1" id="durata1" value="1" disabled><label class="tasti"
							for="durata1">1</label></td>
					<td><input type="radio" name="analitico1" id="durata2" value="2" disabled><label class="tasti"
							for="durata2">2</label></td>
					<td><input type="radio" name="analitico1" id="durata3" value="3" disabled><label class="tasti"
							for="durata3">3</label></td>
					<td><input type="radio" name="analitico1" id="durata4" value="4" disabled><label class="tasti"
							for="durata4">4</label></td>
					<td><input type="radio" name="analitico1" id="durata5" value="5" disabled><label class="tasti"
							for="durata5">5</label></td>
					<td><input type="radio" name="analitico1" id="durata6" value="6" disabled><label class="tasti"
							for="durata6">6</label></td>
					<td><input type="radio" name="analitico1" id="durata7" value="7" disabled><label class="tasti"
							for="durata7">7</label></td>
				</tr>
				<tr>
					<td>Strutture informatiche HW</td>
					<td><input type="radio" name="analitico3" id="hw1" value="1" disabled><label class="tasti"
							for="hw1">1</label></td>
					<td><input type="radio" name="analitico3" id="hw2" value="2" disabled><label class="tasti"
							for="hw2">2</label></td>
					<td><input type="radio" name="analitico3" id="hw3" value="3" disabled><label class="tasti"
							for="hw3">3</label></td>
					<td><input type="radio" name="analitico3" id="hw4" value="4" disabled><label class="tasti"
							for="hw4">4</label></td>
					<td><input type="radio" name="analitico3" id="hw5" value="5" disabled><label class="tasti"
							for="hw5">5</label></td>
					<td><input type="radio" name="analitico3" id="hw6" value="6" disabled><label class="tasti"
							for="hw6">6</label></td>
					<td><input type="radio" name="analitico3" id="hw7" value="7" disabled><label class="tasti"
							for="hw7">7</label></td>
				</tr>
				<tr>
					<td>Strumenti informatici SW</td>
					<td><input type="radio" name="analitico4" id="sw1" value="1" disabled><label class="tasti"
							for="sw1">1</label></td>
					<td><input type="radio" name="analitico4" id="sw2" value="2" disabled><label class="tasti"
							for="sw2">2</label></td>
					<td><input type="radio" name="analitico4" id="sw3" value="3" disabled><label class="tasti"
							for="sw3">3</label></td>
					<td><input type="radio" name="analitico4" id="sw4" value="4" disabled><label class="tasti"
							for="sw4">4</label></td>
					<td><input type="radio" name="analitico4" id="sw5" value="5" disabled><label class="tasti"
							for="sw5">5</label></td>
					<td><input type="radio" name="analitico4" id="sw6" value="6" disabled><label class="tasti"
							for="sw6">6</label></td>
					<td><input type="radio" name="analitico4" id="sw7" value="7" disabled><label class="tasti"
							for="sw7">7</label></td>
				</tr>
				<tr>
					<td>Qualità della documentazione</td>
					<td><input type="radio" name="analitico5" id="documentazione1" value="1" disabled><label
							class="tasti" for="documentazione1">1</label></td>
					<td><input type="radio" name="analitico5" id="documentazione2" value="2" disabled><label
							class="tasti" for="documentazione2">2</label></td>
					<td><input type="radio" name="analitico5" id="documentazione3" value="3" disabled><label
							class="tasti" for="documentazione3">3</label></td>
					<td><input type="radio" name="analitico5" id="documentazione4" value="4" disabled><label
							class="tasti" for="documentazione4">4</label></td>
					<td><input type="radio" name="analitico5" id="documentazione5" value="5" disabled><label
							class="tasti" for="documentazione5">5</label></td>
					<td><input type="radio" name="analitico5" id="documentazione6" value="6" disabled><label
							class="tasti" for="documentazione6">6</label></td>
					<td><input type="radio" name="analitico5" id="documentazione7" value="7" disabled><label
							class="tasti" for="documentazione7">7</label></td>
				</tr>
				<tr>
					<td>Livello della conoscenza acquisita</td>
					<td><input type="radio" name="analitico6" id="conoscenza1" value="1" disabled><label class="tasti"
							for="conoscenza1">1</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza2" value="2" disabled><label class="tasti"
							for="conoscenza2">2</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza3" value="3" disabled><label class="tasti"
							for="conoscenza3">3</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza4" value="4" disabled><label class="tasti"
							for="conoscenza4">4</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza5" value="5" disabled><label class="tasti"
							for="conoscenza6">5</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza6" value="6" disabled><label class="tasti"
							for="conoscenza7">6</label></td>
					<td><input type="radio" name="analitico6" id="conoscenza7" value="7" disabled><label class="tasti"
							for="conoscenza7">7</label></td>
				</tr>
				<tr>
					<td>Qualità della docenza</td>
					<td><input type="radio" name="analitico2" id="docenza1" value="1" disabled><label class="tasti"
							for="docenza1">1</label></td>
					<td><input type="radio" name="analitico2" id="docenza2" value="2" disabled><label class="tasti"
							for="docenza2">2</label></td>
					<td><input type="radio" name="analitico2" id="docenza3" value="3" disabled><label class="tasti"
							for="docenza3">3</label></td>
					<td><input type="radio" name="analitico2" id="docenza4" value="4" disabled><label class="tasti"
							for="docenza4">4</label></td>
					<td><input type="radio" name="analitico2" id="docenza5" value="5" disabled><label class="tasti"
							for="docenza5">5</label></td>
					<td><input type="radio" name="analitico2" id="docenza6" value="6" disabled><label class="tasti"
							for="docenza6">6</label></td>
					<td><input type="radio" name="analitico2" id="docenza7" value="7" disabled><label class="tasti"
							for="docenza7">7</label></td>
				</tr>
			</table>
			<div class="form-group">
				<p id="nome">Nome dell'allievo (Facoltativo): {{model.nome}}</p>
			</div>
			<button class="btn btn-sm btn-info" (click)="downloadPDF()">Genera PDF</button>
		</div>
	</div>
</div>
