<div class="container-fluid">
	<div class="text-center">
		<div *ngIf="fineQuestionario==false ; else grazieBlock">
			<img src="https://www.aktsrl.com/new/wp-content/uploads/2017/03/logo-akt-corso-formazione-java-roma-logo-prova-1.png"
				class="img-responsive" id="aktlogo" alt="...">
			<div class="form-group">
				<strong id="giudfin">Giudizio finale</strong>
				<select [(ngModel)]="corso" id="corso" (change)="caricaModuli()">
					<option disabled value="-1">Scegli il corso...</option>
					<option *ngFor="let corso of corsi" [value]="corso.idCorso">{{corso.nomeCorso}}</option>
				</select>
			</div>
			<label for="modulo">Modulo:</label>
			<select [(ngModel)]="modulo" id="modulo">
				<option disabled value="-1">Scegli il modulo...</option>
				<option *ngFor="let modulo of moduli" [value]="modulo.id">{{modulo.nome}}</option>
			</select><br>
			<div class="form-group">
				<label for="docente">Valutazione dell'allievo sul modulo e sul docente: </label>
				<input [(ngModel)]="docente" type="text" id="docente" name="docente"
					placeholder=" Cognome del docente...">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="6" id="valutazione" name="valutazione"
					placeholder="Scrivi una valutazione personale..."></textarea>
			</div>
			<strong>Giudizio complessivo</strong> su corso e docente:
			<select ngModel="1" id="complessivo" name="complessivo">
				<option value="1">1 = Insufficiente</option>
				<option value="2">2 = Sufficiente</option>
				<option value="3">3 = Discreto</option>
				<option value="4">4 = Buono</option>
				<option value="5">5 = Molto Buono</option>
				<option value="6">6 = Ottimo</option>
				<option value="7">7 = Eccellente</option>
			</select>
			<table class="table-bordered" id="giudanalitico">
				<th>Giudizio analitico: </th>
				<th id="valheader" colspan="7">Valutazione (scegliere la casella):</th>
				<tr>
					<td>Durata del corso</td>
					<td><input type="radio" name="analitico1" id="tasto1" value="1"><label class="tasti"
							for="tasto1">1</label></td>
					<td><input type="radio" name="analitico1" id="tasto2" value="2"><label class="tasti"
							for="tasto2">2</label></td>
					<td><input type="radio" name="analitico1" id="tasto3" value="3"><label class="tasti"
							for="tasto3">3</label></td>
					<td><input type="radio" name="analitico1" id="tasto4" value="4"><label class="tasti"
							for="tasto4">4</label></td>
					<td><input type="radio" name="analitico1" id="tasto5" value="5"><label class="tasti"
							for="tasto5">5</label></td>
					<td><input type="radio" name="analitico1" id="tasto6" value="6"><label class="tasti"
							for="tasto6">6</label></td>
					<td><input type="radio" name="analitico1" id="tasto7" value="7"><label class="tasti"
							for="tasto7">7</label></td>
				</tr>
				<tr>
					<td>Strutture informatiche HW</td>
					<td><input type="radio" name="analitico3" id="tasto15" value="1"><label class="tasti"
							for="tasto15">1</label></td>
					<td><input type="radio" name="analitico3" id="tasto16" value="2"><label class="tasti"
							for="tasto16">2</label></td>
					<td><input type="radio" name="analitico3" id="tasto17" value="3"><label class="tasti"
							for="tasto17">3</label></td>
					<td><input type="radio" name="analitico3" id="tasto18" value="4"><label class="tasti"
							for="tasto18">4</label></td>
					<td><input type="radio" name="analitico3" id="tasto19" value="5"><label class="tasti"
							for="tasto19">5</label></td>
					<td><input type="radio" name="analitico3" id="tasto20" value="6"><label class="tasti"
							for="tasto20">6</label></td>
					<td><input type="radio" name="analitico3" id="tasto21" value="7"><label class="tasti"
							for="tasto21">7</label></td>
				</tr>
				<tr>
					<td>Strumenti informatici SW</td>
					<td><input type="radio" name="analitico4" id="tasto22" value="1"><label class="tasti"
							for="tasto22">1</label></td>
					<td><input type="radio" name="analitico4" id="tasto23" value="2"><label class="tasti"
							for="tasto23">2</label></td>
					<td><input type="radio" name="analitico4" id="tasto24" value="3"><label class="tasti"
							for="tasto24">3</label></td>
					<td><input type="radio" name="analitico4" id="tasto25" value="4"><label class="tasti"
							for="tasto25">4</label></td>
					<td><input type="radio" name="analitico4" id="tasto26" value="5"><label class="tasti"
							for="tasto26">5</label></td>
					<td><input type="radio" name="analitico4" id="tasto27" value="6"><label class="tasti"
							for="tasto27">6</label></td>
					<td><input type="radio" name="analitico4" id="tasto28" value="7"><label class="tasti"
							for="tasto28">7</label></td>
				</tr>
				<tr>
					<td>Qualità della documentazione</td>
					<td><input type="radio" name="analitico5" id="tasto29" value="1"><label class="tasti"
							for="tasto29">1</label></td>
					<td><input type="radio" name="analitico5" id="tasto30" value="2"><label class="tasti"
							for="tasto30">2</label></td>
					<td><input type="radio" name="analitico5" id="tasto31" value="3"><label class="tasti"
							for="tasto31">3</label></td>
					<td><input type="radio" name="analitico5" id="tasto32" value="4"><label class="tasti"
							for="tasto32">4</label></td>
					<td><input type="radio" name="analitico5" id="tasto33" value="5"><label class="tasti"
							for="tasto33">5</label></td>
					<td><input type="radio" name="analitico5" id="tasto34" value="6"><label class="tasti"
							for="tasto34">6</label></td>
					<td><input type="radio" name="analitico5" id="tasto35" value="7"><label class="tasti"
							for="tasto35">7</label></td>
				</tr>
				<tr>
					<td>Livello della conoscenza acquisita</td>
					<td><input type="radio" name="analitico6" id="tasto36" value="1"><label class="tasti"
							for="tasto36">1</label></td>
					<td><input type="radio" name="analitico6" id="tasto37" value="2"><label class="tasti"
							for="tasto37">2</label></td>
					<td><input type="radio" name="analitico6" id="tasto38" value="3"><label class="tasti"
							for="tasto38">3</label></td>
					<td><input type="radio" name="analitico6" id="tasto39" value="4"><label class="tasti"
							for="tasto39">4</label></td>
					<td><input type="radio" name="analitico6" id="tasto40" value="5"><label class="tasti"
							for="tasto40">5</label></td>
					<td><input type="radio" name="analitico6" id="tasto41" value="6"><label class="tasti"
							for="tasto41">6</label></td>
					<td><input type="radio" name="analitico6" id="tasto42" value="7"><label class="tasti"
							for="tasto42">7</label></td>
				</tr>
				<tr>
					<td>Qualità della docenza</td>
					<td><input type="radio" name="analitico2" id="tasto8" value="1"><label class="tasti"
							for="tasto8">1</label></td>
					<td><input type="radio" name="analitico2" id="tasto9" value="2"><label class="tasti"
							for="tasto9">2</label></td>
					<td><input type="radio" name="analitico2" id="tasto10" value="3"><label class="tasti"
							for="tasto10">3</label></td>
					<td><input type="radio" name="analitico2" id="tasto11" value="4"><label class="tasti"
							for="tasto11">4</label></td>
					<td><input type="radio" name="analitico2" id="tasto12" value="5"><label class="tasti"
							for="tasto12">5</label></td>
					<td><input type="radio" name="analitico2" id="tasto13" value="6"><label class="tasti"
							for="tasto13">6</label></td>
					<td><input type="radio" name="analitico2" id="tasto14" value="7"><label class="tasti"
							for="tasto14">7</label></td>
				</tr>
			</table>
			<div class="form-group">
				<label for="nome">Nome dell'allievo (Facoltativo)</label>
				<input type="text" id="nome" name="nome"><br>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-success" (click)="caricaGiudizio()"
					[disabled]="docente.length <=0 || modulo<=0 || corso<=0">Invia risposta</button>
			</div>
			<p id="code">Mod1201 L REVISIONE 0 DEL 01-02-2018</p>  <!--da aggiornare-->
		</div>
		<ng-template #grazieBlock>
			<img src="https://www.aktsrl.com/new/wp-content/uploads/2017/03/logo-akt-corso-formazione-java-roma-logo-prova-1.png"
				class="img-responsive" id="aktlogoFinale" alt="...">
			<p class="font-weight-light" style="font-size: x-large; margin-top: 5%;"><span
					class="text-success font-weight-bold">Grazie</span> per aver valutato!</p>
		</ng-template>
	</div>
</div>