#valheader{
    font-weight: normal;
}
#giudfin{
   font-size: x-large;
   font-weight: normal;
   padding-right: 10px;
}
table{
    margin: auto;
}

#aktlogo{
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#giudanalitico{
    margin-top: 20px;
    margin-bottom: 20px;
}

#valutazione{
    margin: auto;
    width: 50%;
}

#code{
        text-align: right;
        color:gray;
        font-size: 12px;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
 .tasti {
      cursor: pointer;
      display: block;
      margin: 0px;
  }
  
  input[type="radio"]:checked + label {
      background-color:rgb(241, 142, 0);   
  }
  
  .tasti:hover{
    background-color: #ddd;
  }

  td{
      padding: 0px;
  }

