<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><img
      src="https://www.aktsrl.com/new/wp-content/uploads/2017/03/logo-akt-corso-formazione-java-roma-logo-prova-1.png"
      class="img-responsive" id="aktlogo" alt="..."></a>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!adminLogato">
        <a class="nav-link" routerLink="studente">Valuta un corso</a>
      </li>
      <li class="nav-item" *ngIf="adminLogato">
        <a class="nav-link" routerLink="admin">Gestione Valutazioni</a>
      </li>
      <li class="nav-item" *ngIf="adminLogato">
        <a class="nav-link" routerLink="corsi">Gestione Corsi</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item mr-auto" *ngIf="!adminLogato">
        <a class="nav-link" routerLink="login">
          <fa-icon [icon]="faUser"></fa-icon>Login
        </a>
      </li>

      <li class="nav-item mr-auto" *ngIf="adminLogato">
        <a class="nav-link" routerLink="login" (click)="logout()">
          <fa-icon [icon]="faUser"></fa-icon>Logout
        </a>
      </li>
    </ul>
  
</nav>