<div class="container">
    <div class="text-center">
        <img src="https://www.aktsrl.com/new/wp-content/uploads/2017/03/logo-akt-corso-formazione-java-roma-logo-prova-1.png"
            class="img-responsive" id="aktlogo" alt="...">
    </div>
    <form action="" #formLogin="ngForm" (ngSubmit)="login(formLogin)">
        <div class="form-group">
            <div id="formcss" class="row justify-content-center">
                <div class="col-3">
                    <label for="email">Email</label>
                    <input class="form-control" ngModel required type="text" name="email" #email="ngModel" id="email">
                </div>
                <div class="col-3">
                    <label for="password">Password</label>
                    <input class="form-control" ngModel type="password" name="password" #password="ngModel"
                        id="password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-center">
                <p class="text-warning">{{getErrorMsg()}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-center">
                <button class="btn btn-sm btn-success" [disabled]="!formLogin.valid">Login</button>
            </div>
        </div>
    </form>
    <div class="form-group">
    </div>
    <div class="row justify-content-center">
        <p>Sei uno studente?</p>&nbsp;<a href="" routerLink="studente">Valuta un corso.</a>
    </div>
</div>