table {
   margin: auto;
   text-align: center;
    }

    #tablegiudizi{
    margin: auto;
    display:block;
    max-height:400px;
    overflow-y:auto;
    font-size: small;
    }

    #cerca{
        margin-right: 10%;
    }
    
    th{
    text-align: center;
    font-size: x-small;
    }

    #aktlogo{
        display: block;
        margin-left: auto;
        margin-right: 10px;
        margin-top: 10px;
    }