<div class="container-fluid">
  <div class="text-center">
    <div class="form-group"></div>
    <table>
      <tr>
        <td>Filtra per:</td>
        <td><button class="btn btn-link text-info" (click)="caricaGiudiziAttivi()">Solo attivi</button></td>
        <td><button class="btn btn-link text-info" (click)="caricaTuttiGiudizi()">Tutti </button></td>
      </tr>
    </table>
  </div>
  <div class="form-group text-right">
    <label for="cerca">
      <fa-icon [icon]="faSearch" size="lg" style="color: lightgray"></fa-icon>
    </label>
    <input type="text" id="cerca" placeholder="Cerca..." [(ngModel)]="cerca" />
  </div>
  <div class="table-responsive-sm">
    <table class="table table-striped" id="tablegiudizi">
      <thead class="thead-dark">
        <tr>
          <th>Corso</th>
          <th>Modulo</th>
          <th>Docente</th>
          <th>Valutazione</th>
          <th>Complessivo</th>
          <th>Durata corso</th>
          <th>Qualità Docenza</th>
          <th>Strutture Hardware</th>
          <th>Strumenti Software</th>
          <th>Qualità documentazione</th>
          <th>Conoscenza acquisita</th>
          <th>Allievo</th>
          <th>Data</th>
          <th>Status</th>
          <th>#</th>
          <th>Opzioni</th>
          <th>PDF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let giudizio of giudizi | filtroTutto:cerca">
          <!--Tabella che mostra i giudizi dal DB-->
          <td>{{giudizio.nomeCorso}}</td>
          <td>{{giudizio.nomeModulo}}</td>
          <td>{{giudizio.docente}}</td>
          <td>{{giudizio.valutazione}}</td>
          <td>{{giudizio.complessivo}}</td>
          <td>{{giudizio.durataCorso}} </td>
          <td>{{giudizio.qualitaDocenza}}</td>
          <td>{{giudizio.struttureHW}}</td>
          <td>{{giudizio.strumentiSW}}</td>
          <td>{{giudizio.qualitaDocumentazione}} </td>
          <td>{{giudizio.livelloAcquisito}}</td>
          <td>{{giudizio.nome}}</td>
          <td>{{giudizio.data}}</td>
          <td>{{giudizio.valore}}</td>
          <td>{{giudizio.id}}</td>
          <td>
            <div *ngIf="giudizio.valore=='attivo'; else elseBlock">
              <!--Opzioni diverse a seconda dello status del giudizio-->
              <button class="btn btn-danger btn-sm" (click)='cancellaGiudizio(giudizio.id)'>
                <fa-icon [icon]="faTrashAlt" size="sm"></fa-icon>
              </button>
            </div>
          </td>
          <td>
            <div *ngIf="giudizio.valore=='attivo'; else pdfDisabled">
              <button class="btn btn-info btn-sm" (click)="stampaPdf(giudizio)">
                <fa-icon [icon]="faFilePdf" size="sm"></fa-icon>
              </button>
            </div>
          </td>
          <ng-template #elseBlock>
            <button class="btn btn-success btn-sm" (click)='attivaGiudizio(giudizio.id)'>
              <fa-icon [icon]="faTrashRestore" size="sm"></fa-icon>
            </button>
          </ng-template>
          <ng-template #pdfDisabled>
            <button class="btn btn-info btn-sm" disabled><fa-icon [icon]="faFilePdf" size="sm"></fa-icon></button>
          </ng-template>
        </tr>
      </tbody>
    </table>
    <div>
    </div>
    <div *ngIf="showPdf==true">
    <app-pdf [model]="oggettoGiudizio"></app-pdf>
    </div>
  </div>