
     #tablecorsi{
     width: fit-content;
     margin: auto;
     text-align: center;
     display:block;
     max-height:400px;
     overflow-y:auto;
     }

     #tableNewCorso{
     width: fit-content;
     margin: auto;
     text-align: left;
     }

     #tableModuli{
     width: fit-content;
     margin: auto;
     text-align: left;
     }

     #cerca{
     margin-top:2%;
     }

     th{
     padding:5px;
     text-align: center;
     }

     #divAlertModulo{
     text-align: center;
     max-width: 50%;
     margin: 0 auto;
     margin-top: 10px;
     }

     #divAlertCorso{
     text-align: center;
     max-width: 50%;
     margin: 0 auto;
     margin-top: 10px;
     }

     hr{
          margin: 10px;
     }

   