<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="form-group text-center">
        <label for="cerca">
          <fa-icon [icon]="faSearch" size="lg" style="color: lightgray"></fa-icon>
        </label>
        <input type="text" id="cerca" placeholder="Cerca..." [(ngModel)]="cerca" />
      </div>
    </div>
    <div class="col text-center">
      Aggiungi:
      <button class="btn btn-link text-info" (click)="showNewCorso=!showNewCorso"
        (click)="showNewModulo=false">Corso</button>
      <button class="btn btn-link text-info" (click)="showNewModulo=!showNewModulo"
        (click)="showNewCorso=false">Modulo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <div class="table-responsive text-center">
        <table class="table table-striped" id="tablecorsi">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Corso</th>
              <th>Status</th>
              <th>Opzioni</th>
              <th>Modifica</th>
              <th><button class="btn btn-sm btn-dark" (click)="refreshTableCorsi()">
                  <fa-icon [icon]="faSyncAlt" size="sm"></fa-icon>
                </button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let corso of corsi | filtroTutto:cerca">
              <td>{{corso.idCorso}}</td>
              <td>{{corso.nomeCorso}}</td>
              <td>{{corso.validitaCorso}}</td>
              <td>
                <div *ngIf="corso.validitaCorso=='attivo'; else elseBlock">
                  <button class="btn btn-sm btn-danger" (click)='cambiaStatusCorso(corso.idCorso)'>
                    <fa-icon [icon]="faTrashAlt" size="sm"></fa-icon>
                  </button>
                </div>
              </td>
              <td>
                <div *ngIf="corso.validitaCorso=='attivo'; else elseBlockDisabled">
                  <button class="btn btn-sm btn-info" (click)="caricaModuliperId(corso.idCorso)">
                    <fa-icon [icon]="faEdit" size="sm"></fa-icon>
                  </button>
                </div>
              </td>
              <td></td>
              <ng-template #elseBlock>
                <button class="btn btn-sm btn-success" (click)='cambiaStatusCorso(corso.idCorso)'>
                  <fa-icon [icon]="faTrashRestore" size="sm"></fa-icon>
                </button>
              </ng-template>
              <ng-template #elseBlockDisabled>
                <button class="btn btn-sm btn-info" style="pointer-events: none;" disabled>
                  <fa-icon [icon]="faEdit" size="sm"></fa-icon>
                </button>
              </ng-template>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 col-sm-12">
      <div *ngIf="show==true">
        <div class="table-responsive text-center">
          <table class="table table-sm" id="tableModuli">
            <thead class="thead-dark">
              <th>Disponibili</th>
            </thead>
            <tbody>
              <tr *ngFor="let modulo of moduli">
                <td>
                  <div *ngIf="modulo.validita=='attivo' ; else elseBlockUnchecked">
                    <input id="check{{modulo.id}}id{{idCorso}}" name="check{{modulo.id}}id{{idCorso}}" type="checkbox"
                      checked>
                    {{modulo.nome}}
                  </div>
                  <ng-template #elseBlockUnchecked>
                    <input id="check{{modulo.id}}id{{idCorso}}" name="check{{modulo.id}}id{{idCorso}}"
                      type="checkbox">{{modulo.nome}}
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm btn-info" (click)="modifica(idCorso)">Aggiorna</button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-sm-12">
      <div *ngIf="showNewCorso==true">
        <div class="table-responsive text-center">
          <table class="table table-sm" id="tableNewCorso">
            <thead class="thead-dark">
              <th>Nuovo corso</th>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" [(ngModel)]="validCorso" id="nomeCorso" name="nomeCorso"
                    placeholder="Nome corso..."></td>
              </tr>
              <tr *ngFor="let item of tuttimoduli">
                <td *ngIf="item.validita=='attivo'">
                  <input type="checkbox" name="check{{item.id}}" id="check{{item.id}}">{{item.nome}}
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm btn-success" (click)="checkEsistenzaCorso()" [disabled]="validCorso.length<=0">
            <fa-icon [icon]="faCheck" size="sm"></fa-icon> Fatto!
          </button>
          <div id="divAlertModulo" *ngIf="errCorsoGlobale==true" class="alert alert-warning" role="alert">
            <h6 class="alert-heading">Ops!</h6>
            <hr>
            <h6 class="font-weight-normal">Questo corso è già esistente.</h6>
          </div>
        </div>
      </div>
      <div *ngIf="showNewModulo==true">
        <div class="table-responsive text-center">
          <table class="table table-sm" id="tableNewCorso">
            <thead class="thead-dark">
              <th>Nuovo modulo</th>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" [(ngModel)]="validModulo" id="nomeModulo" name="nomeModulo"
                    placeholder="Nome modulo..."></td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm btn-success" (click)="checkEsistenzaModulo()" [disabled]="validModulo.length<=0">
            <fa-icon [icon]="faCheck" size="sm"></fa-icon> Fatto!
          </button>
          <div id="divAlertModulo" *ngIf="errModuloGlobale==true" class="alert alert-warning" role="alert">
            <h6 class="alert-heading">Ops!</h6>
            <hr>
            <h6 class="font-weight-normal">Questo modulo è già esistente.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>